<section class="section">
    <div class="container">
    <% const groups = {};
    const years = [];
    page.posts.each(post => {
        const year = post.date.year();
        if (typeof(groups[year]) === 'undefined') {
            groups[year] = [];
            years.push(year);
        }
        groups[year].push(post);
    });
    years.sort((a, b) => b - a); %>
    <% for (let year of years) { %>
            <% for (let post of groups[year].sort((a, b) => b.date.diff(a.date))) { %>
            <div id="myarchive" class="is-size-6-mobile">
            <li>
                    <time class="is-text-small" datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
                        <%= date(post.date) %></time>
                    <a href="<%= url_for(post.link ? post.link : post.path) %>"><%= post.title %></a>
                    </li>
                    </div>
            <% } %>
    <% } %>
    <% if (page.total > 1) { %>
    <%- partial('common/paginator') %>
    <% } %>
    </div>
</section>
